#box1{
    border: 1px solid #1E679A;
}

#grad {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(50, 100, 225));
}

.alignL { text-align: left; }
.alignC { text-align: center; }
.alignR { text-align: right; }

.navTitle { color: white}